<% include partials/header.ejs %>

<div class = "jumbotron">

    <h1><%= title %></h1>
    <p>If you wish to contact me please fill out the form below</p>

    Email</br>
    <input style="width: 300px"></br>
    Message</br>
    <input style="height: 300px; width: 300px;"></br>
    <button>send</button>

</div>

<% include partials/footer.ejs %>